<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>企業向けデザイン 無料ホームページテンプレート tp_biz49</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/slide.css">
<link rel="stylesheet" href="css/fixmenu_pagetop.css">
<script type="text/javascript" src="js/openclose.js"></script>
<script type="text/javascript" src="js/fixmenu_pagetop.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="Sample Company"></a></h1>
<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li><a href="index.html">Home<span>ホーム</span></a></li>
<li><a href="company.html">Company<span>会社概要</span></a></li>
<li class="current"><a href="service.html">Service<span>サービス</span></a></li>
<li><a href="recruit.html">Recruit<span>採用情報</span></a></li>
<li><a href="contact.html">Contact<span>お問合せ</span></a></li>
</ul>
</nav>
</header>

<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li><a href="index.html">Home<span>ホーム</span></a></li>
<li><a href="company.html">Company<span>会社概要</span></a></li>
<li><a href="service.html">Service<span>サービス</span></a></li>
<li><a href="recruit.html">Recruit<span>採用情報</span></a></li>
<li><a href="contact.html">Contact<span>お問合せ</span></a></li>
</ul>
</nav>

<div id="contents">

<div id="main">

<section>

<h2>サービスのご案内（横長ボックスタイプ）</h2>

<p>リンク設定がされている場合、画像右上に「→」マークが出ます。設定はcssフォルダのstyle.cssの<br>
/*ボックスにリンク指定がされた場合に出る「→」マーク*/<br>
ブロックになります。</p>

<div class="list">
<a href="item.html">
<img src="images/sample1.jpg" alt="" class="img">
<h4>Sample Title</h4>
<p>ここに説明など入れて下さい。</p>
</a>
</div>

<div class="list">
<a href="item.html">
<img src="images/sample2.jpg" alt="" class="img">
<h4>Sample Title</h4>
<p>ここに説明など入れて下さい。</p>
</a>
</div>

<div class="list">
<img src="images/sample3.jpg" alt="" class="img">
<h4>Sample Title</h4>
<p>ここに説明など入れて下さい。文字数が多くて入りきらない部分は切れますので注意して下さい。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</p>
</div>

<h2>サービスのご案内（３列ボックスタイプ）</h2>
<p>&lt;div class=&quot;list&quot;&gt;を&lt;div class=&quot;list <span class="color1">c3</span>&quot;&gt;にするとこのように３列レイアウトになります。</p>

<div class="list c3">
<a href="item.html">
<img src="images/sample1.jpg" alt="" class="img">
<h4>Sample Title</h4>
<p>ここに説明など入れて下さい。</p>
</a>
</div>

<div class="list c3">
<a href="item.html">
<img src="images/sample2.jpg" alt="" class="img">
<h4>Sample Title</h4>
<p>ここに説明など入れて下さい。</p>
</a>
</div>

<div class="list c3">
<img src="images/sample3.jpg" alt="" class="img">
<h4>Sample Title</h4>
<p>ここに説明など入れて下さい。</p>
</div>

<h2>回り込み解除について</h2>

<div class="list c3">
<img src="images/sample1.jpg" alt="" class="img">
<h4>Sample Title</h4>
<p>ここに説明など入れて下さい。</p>
</div>

<p>ブロックが２つ以下の場合、このように後にくるテキストも一緒に回り込みされてしまいます。解除したい場合、後にくるブロックにclass=&quot;clear&quot;を指定して下さい。</p>
<p class="clear">※この段落はclear指定したものです。詳しくはhtml側を見て下さい。</p>

</section>

</div>
<!--/main-->

<div id="sub">

<nav>
<h2>Menu</h2>
<ul class="submenu">
<li><a href="faq.html">よく頂く質問</a></li>
<li><a href="link.html">リンク</a></li>
<li><a href="#">メニュー</a></li>
<li><a href="#">メニュー</a></li>
<li><a href="#">メニュー</a></li>
</ul>
</nav>

<section class="mb20">

<h2>サービスのご案内</h2>

    <div class="list">
    <a href="item.html">
    <figure><img src="images/sample1.jpg" alt="サービス名"></figure>
    <h4>サービス名</h4>
    <p>サービスの簡単な説明をここに入れます。</p>
    </a>
    </div>
    
    <div class="list">
    <a href="item.html">
    <figure><img src="images/sample1.jpg" alt="サービス名"></figure>
    <h4>サービス名</h4>
    <p>サービスの簡単な説明をここに入れます。</p>
    </a>
    </div>
    
    <div class="list">
    <a href="item.html">
    <figure><img src="images/sample1.jpg" alt="サービス名"></figure>
    <h4>サービス名</h4>
    <p>サービスの簡単な説明をここに入れます。</p>
	</a>
    </div>
    
    <div class="list">
    <a href="item.html">
    <figure><img src="images/sample1.jpg" alt="サービス名"></figure>
    <h4>サービス名</h4>
    <p>サービスの簡単な説明をここに入れます。</p>
    </a>
    </div>

</section>

<section class="box">
<h2>h2見出し</h2>
<p>class=&quot;box&quot;とするとこのボックスが出ます。<br>
上の「Menu」に適用するなら&lt;nav&gt;を&lt;nav class=&quot;box&quot;&gt;にすればOK。<br>
「サービスのご案内」のように既にclass指定が入っている場合は半角スペースで区切って追加すればOKです。&lt;section class=&quot;mb20 box&quot;&gt;</p>
</section>

</div>
<!--/sub-->

</div>
<!--/contents-->

</div>
<!--/container-->

<footer>
<small>Copyright&copy; <a href="index.html">Sample Company</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>
</body>
</html>
