<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107302808-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments)
    };
    gtag('js', new Date());

    gtag('config', 'UA-107302808-1');
  </script>

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.firefly.kutc.kansai-u.ac.jp/about.html" />
    <meta property="og:image" content="https://www.firefly.kutc.kansai-u.ac.jp/img/icon.png" />
    <meta property="og:site_name" content="関西大学　小林研究室" />
    <meta property="og:description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．" />

    <!-- ※ Twitter共通設定 -->
    <meta name="twitter:card" content="Summary" />
    <meta name="twitter:site" content="" />
    <meta property="og:url" content="https://www.firefly.kutc.kansai-u.ac.jp/about.html" />
    <meta property="og:title" content="関西大学 小林研究室" />
    <meta property="og:description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．" />
    <meta property="og:image" content="https://www.firefly.kutc.kansai-u.ac.jp/img/icon.png" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="関西大学総合情報学部小林孝史ゼミ"></meta>
    <meta name="description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．"></meta>
    <meta name="keywords" content="関西大学,総合情報学部,小林孝史,セキュア情報システム,KOBAYASHI seminar,koba-semi"></meta>
    <title>小林孝史ゼミ</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="(max-aspect-ratio: 1/1)" href="css/sp.css">
    <link rel="shortcut icon" href="img/kobasemi.ico">

  </head>

  <body>
    <header class="otherHeader">
      <aritcle class="titleNav"></aritcle>
      <article class="otherSlide topSlide">
        <ul class="topslider">
          <li id="slideli01"><a href="#"><img src="img/slider/dummy1.jpg"></a>
          </li>
          <li id="slideli02"><a href="#"><img src="img/slider/dummy2.jpg"></a>
          </li>
          <li id="slideli03"><a href="#"><img src="img/slider/dummy3.jpg"></a>
          </li>
          <li id="slideli04"><a href="#"><img src="img/slider/dummy4.jpg"></a>
          </li>
        </ul>
      </article>
      <article id="spNav" class="SP"></article>
    </header>
    <!-- <header></header> -->
    <section id="about">
      <h1 class="line-border line-title" style="margin-top:2rem;">　ABOUT　</h1>
      <div id="aboutBox">
        <p>現代の情報社会を支えるさまざまなコンピュータシステム。それらが24時間継続して、安全かつ安定的に稼働するために必要不可欠な性質を『可用性』といいます。この「可用性」を確保するための強固なセキュリティシステムを構築すること、そして、未知の技術を使った新しいネットワークを開発することが主な研究テーマです。<br/>
          <br/> 通信技術が発達した今日の日本では、コンピュータが日常生活に深く浸透し、気軽にインターネットを利用できるようになりました。多くの企業は、その活動機能の中枢を担うコンピュータシステムを管理し、情報を安全に活用するためにさまざまな対策を講じています。しかし一般家庭では情報管理やセキュリティへの関心が低く、複雑化するコンピュータ犯罪に対して無防備な状態です。

          <br/>
          <br/> 例えば無線LANによって、通信範囲内であれば場所を選ばずネットワークに接続することが可能になりました。しかし、このようにデータが四方八方に伝わる性質は、便利である反面、通信内容を第三者にアクセスされてしまう危険性もはらんでいます。周囲の無線LAN利用状況を観察する実験では、セキュリティ対策がなされずに通信されているものを多数確認できます。このような調査結果を踏まえて、人とインターネットの"安全で豊かな関係"を築くために必要な課題と、その解決法を探る研究も進めています。

        </p>
      </div>
    </section>

    <section id="teacher" class="bgImgBox">
      <!-- <img class="PC" src="img/topic/koba02.jpg" alt=""> -->
      <h1>　指導教員　</h1>
      <!-- <h1 class="SP line-border line-title">　指導教員　</h1> -->
      <ul>
        <!-- <li><img style="display:none" src="img/teacher.jpg" alt=""></li> -->
        <li id="teacher_name"><ruby>
        小林<rp>（</rp><rt>こばやし</rt><rp>）</rp>
        孝史<rp>（</rp><rt>たかし</rt><rp>）</rp></ruby>
        </li>
        <li>
            <dl>
              <dt>キーワード</dt>
              <dd>
                <ul>
                  <li>インターネットセキュリティ</li>
                  <li>コンピュータ・セキュリティ</li>
                  <li>安全に利用できる情報システム</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>担当科目</dt>
              <dd>
                <ul>
                  <li>コンピュータネットワークの基礎</li>
                  <li>ネットワーク実習</li>
                  <li>システムプログラミング実習</li>
                  <li>情報通信ネットワークシステム実習</li>
                  <li>専門演習</li>
                  <li>卒業研究</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>趣味</dt>
              <dd>
                <ul>
                  <li>映画鑑賞</li>
                  <li>スポーツ</li>
                  <li>ガンプラ</li>
                  <li>子煩悩パパ</li>
                </ul>
              </dd>
            </dl>
        </li>
      </ul>
    </section>

    <section id="subject">
      <h2 class="line-border line-title">　研究テーマ　</h2>
      <div id="aboutBox">
        <article id="thema">
          <dl>
            <dt>認証</dt>
            <dd>
              <ul>
                <li>覗き見攻撃を防ぐWeb画像認証システムの実装</li>
                <li>選択的注意を利用した音声Captchaの提案</li>
                <li>個人の特徴を利用した会話型認証システムの実装</li>
                <li>視覚情報を利用したジェスチャ認証方式に関する研究</li>
                <li>複数枚の画像とジェスチャを用いた認証方式に関する研究</li>
                <li>スマートフォンのモーションセンサを利用した個人認証アプリケーションの開発</li>
                <li>SNSを用いた公衆無線LAN認証システムの提案</li>
              </ul>
            </dd>
            <dt>侵入検知</dt>
            <dd>
              <ul>
                <li>IRCを利用するボットマルウェアの活動抑制を目的としたIPSの実装</li>
                <li>OpenFlowを用いた標的型攻撃の検知と遮断手法に関する研究</li>
                <li>Token bucketモデルを用いてSYNパケットを制限することでSYN flood攻撃を防御する手法に関する研究</li>
                <li>認証時間に基づいたSSHパスワードクラッキング攻撃検知手法の提案</li>
                <li>攻撃側ネットワークの制御によるDoS攻撃への加担を防ぐ研究</li>
                <li>機械学習を用いたファイアウォールの自動制御に関する研究</li>
                <li>シグネチャ型IDSを用いた未知のトラフィック異常の検出に関する研究</li>
                <li>ipfwを用いたネットワーク制御に関する研究</li>
                <li>プロセス解析によるIoTボット検知システムの実装</li>
              </ul>
            </dd>
            <dt>Webセキュリティ</dt>
            <dd>
              <ul>
                <li>Drive-by Download攻撃解析における支援アプリケーションの開発</li>
                <li>Cross Site Scriptingを防御するProxyの開発</li>
                <li>ICAP サーバによる悪意ある Web ページ検出の研究</li>
                <li>Drive-by Download攻撃解析の支援アプリケーションのリアルタイム解析の速度向上に関する研究</li>
                <li>悪性URLの強調表示によるDrive-by Download攻撃解析手法の提案</li>
                <li>ProxyとICAPを用いたDrive-by Download攻撃の防御システムの実装</li>
              </ul>
            </dd>
            <dt>マルウェア対策</dt>
            <dd>
              <ul>
                <li>ライブフォレンジックを用いた暗号化ファイル複合技術の開発</li>
                <li>メモリアクセスの可視化によるアンパック支援ツールの開発</li>
                <li>ネットワーク上での悪性PDFの検知システムの開発</li>
                <li>ランサムウェア対策としてのクラウドストレージ活用システムの提案</li>
              </ul>
            </dd>
            <dt>分散システム</dt>
            <dd>
              <ul>
                <li>Web ページにおけるプロファイル情報を用いたアクセス制御に関する研究</li>
                <li>負荷状況に応じた動的負荷分散システムの実装</li>
                <li>コンテンツ指向型負荷分散を実現するWebシステムに関する研究</li>
                <li>並列環境を利用したニューラルネットワークにおける学習時間の短縮</li>
              </ul>
            </dd>
            <dt>アプリケーション</dt>
            <dd>
              <ul>
                <li>Androidブラウザにおける広告自動非表示システムに関する研究</li>
                <li>システムの状態に基づく強制アクセス制御の設計と実装</li>
                <li>音声認識を用いた不適切発言フィルタリングシステムの提案</li>
              </ul>
            </dd>
            <dt>通信技術</dt>
            <dd>
              <ul>
                <li>BitTorrentにおけるピース情報を利用したピアおよびピース選択手法の検討</li>
                <li>ピュアP2P型ファイルシステムにおける仮想ノード管理手法に関する研究</li>
                <li>ピュアP2P型分散ファイルシステムにおけるデータ配置の均一性に関する研究</li>
                <li>関西大学におけるIPv4とIPv6の相互運用に関する研究</li>
                <li>Bluetooth Meshの異常機器の切り離しに関する研究</li>
                <li>無線LANアクセスポイントの接続状況に関する研究</li>
              </ul>
            </dd>
            <dt>データ分析</dt>
            <dd>
              <ul>
                <li>関西大学におけるSSHアクセスの収集と分析</li>
                <li>スパムメールの識別および受信時間の予測に関する研究</li>
                <li>ダークネットとライブネットの22番ポート（SSH）に届くアクセスログ数に関する研究</li>
              </ul>
            </dd>
          </dl>
        </article>
      </div>
    </section>

    <section id="member">
      <h2 class="line-border line-title">　ゼミ<wbr>履修者数　</h2>
      <ul id="memlist">
        <li>
          <ul>
            <li>
              大学院生
            </li>
            <li>
              <ul>
                <li>　</li>
                <li>男性</li>
                <li>女性</li>
              </ul>
            </li>
            <li>
              <ul>
                <li>M1</li>
                <li>1人</li>
                <li>1人</li>
              </ul>
            </li>
            <li>
              <ul>
                <li>M2</li>
                <li>4人</li>
                <li>0人</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <ul>
            <li>学部生
            </li>
            <li>
              <ul>
                <li>　</li>
                <li>男性</li>
                <li>女性</li>
              </ul>
            </li>
            <li>
              <ul>
                <li>B3</li>
                <li>11人</li>
                <li>3人</li>
              </ul>
            </li>
            <li>
              <ul>
                <li>B4</li>
                <li>14人</li>
                <li>2人</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </section>


    <footer></footer>
    <!-- <footer></footer> -->
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/load.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
  </body>

</html>
