<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107302808-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments)
    };
    gtag('js', new Date());

    gtag('config', 'UA-107302808-1');
  </script>

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.firefly.kutc.kansai-u.ac.jp/office_hour.html" />
  <meta property="og:image" content="https://www.firefly.kutc.kansai-u.ac.jp/img/icon.png" />
  <meta property="og:site_name" content="関西大学　小林研究室" />
  <meta property="og:description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．" />

  <!-- ※ Twitter共通設定 -->
  <meta name="twitter:card" content="Summary" />
  <meta name="twitter:site" content="" />
  <meta property="og:url" content="https://www.firefly.kutc.kansai-u.ac.jp/office_hour.html" />
  <meta property="og:title" content="関西大学 小林研究室" />
  <meta property="og:description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．" />
  <meta property="og:image" content="https://www.firefly.kutc.kansai-u.ac.jp/img/icon.png" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="author" content="関西大学総合情報学部小林孝史ゼミ"></meta>
  <meta name="description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．"></meta>
  <meta name="keywords" content="関西大学,総合情報学部,小林孝史,セキュア情報システム,KOBAYASHI seminar,koba-semi"></meta>
  <title>小林孝史ゼミ</title>

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" media="(max-aspect-ratio: 1/1)" href="css/sp.css">
  <link rel="shortcut icon" href="img/kobasemi.ico">

</head>

<body>
  <header class="otherHeader">
    <aritcle class="titleNav"></aritcle>
    <article class="otherSlide topSlide">
      <ul class="topslider">
        <li id="slideli01"><a href="#"><img src="img/slider/dummy1.jpg"></a>
        </li>
        <li id="slideli02"><a href="#"><img src="img/slider/dummy2.jpg"></a>
        </li>
        <li id="slideli03"><a href="#"><img src="img/slider/dummy3.jpg"></a>
        </li>
        <li id="slideli04"><a href="#"><img src="img/slider/dummy4.jpg"></a>
        </li>
      </ul>
    </article>
    <article id="spNav" class="SP"></article>
  </header>
  <!-- <header></header> -->
  <section id="office_hour">
    <h1 class="line-border line-title" style="margin-top:2rem;">　OFFICE<wbr>　HOUR　</h1>
    <article id="messageWrap">
      <img src="img/topic/koba03.jpg" alt="">
      <div class="message">
        <p> 2回生までの間に情報セキュリティについて学べる科目は多くはありませんので，ゼミに参加するための基礎知識は問いません．ただし，ゼミに入った後は，しっかり勉強して，研究のための基礎体力を身に付けてもらいたい．<br> 新しいシステムを作る，既存のシステムをうまく動くように修正する・より良く動作するように改良する，サーバを運用する，運用中のシステムを理解する，新しいプログラムを作る，既存のプログラムを修正する・改良する，新しいネットワークを作る，既存のネットワークを修正する・改良する，など，色々なことをやっています．それぞれに必要な知識・技能等は異なりますが，どれを選んだとしても，諦めずに，最後までやり通してもらいたい．
          <br> 勉強会も随時やっています．ゼミ活動に関するところでは，システムの勉強会，各種プログラミング言語の勉強会，セキュリティ対策の勉強会，総合的な課題を解く勉強会，…，等，様々な勉強会がゼミ生主体で自主的に開催されています．そういった勉強会で培った技能等を外部のコンテストなどで発揮してください．もちろん，ゼミの研究にも役立ててもらいたい．
          <br>
          <br> 野球でいえば，野球は試合だけで能力が向上したり，チームプレイがうまくいったりするわけではありません．個人の能力を向上させるには，何百回も素振りをしたり，何百球も投球練習をしたり，身体能力をあげるトレーニングをしたりする必要はあります．チーム種目ですから，個人の練習だけでなく，チーム練習もやるわけです．天才プレーヤーでも，日々の練習は欠かさないのです．さらに，相手チームの特徴なども調べて，弱点を探したりすることでしょう．それをうまく突いて，試合に勝つということへ繋げます．
          <br> 研究というか，勉学でも同じことがいえます．身体能力は，技術・技能をどれくらい持っているかということですし，それを活用する能力は，素振りや投球練習の相当する，技能等を実践する回数・機会をどれくらい持ったか，システムをどれくらい触ってるか・コマンドをどれくらいたくさん実行したか・プログラムをどれくらいたくさん作ったか，といったことで磨かれていきます．
          <br>
          <br> また，研究上の競争相手，人物的なものではなく，研究の結果としての論文や発表について，調べる必要もあります．あの論文はどういうことをやっていて，どういうことに触れていない（つまり，弱点），といったようなことを調べます．
          <br> その論文・研究発表を理解するための勉強が必要で，専門演習や卒業研究でそれを身につけるのに何年もかかっている場合ではないですが，それは基礎体力・身体能力を早めにつけてしまうことが大事です．それを得る機会は，授業の中であったり，勉強会であったり，普段の過ごし方の中であったりします．
          <br>
          <br> その機会の一つとして，勉強会やゼミ室での活動があります．ぜひ，授業がなくても，休み期間中でも，大学に来る機会を増やして，（物理的に）キャッチボールをしたり，チーム練習をしたり，1000本ノックをしましょう．
          <br>
        </p>
      </div>
    </article>
  </section>
  <section id="date">
      <h1 class="line-border line-title" style="margin-top:2rem;">　日程　</h1>
      <ul id="dateList">
        <li>
          <ul>
            <li>日程</li>
            <li>時間</li>
            <li>場所</li>
            <li id="numB2">参加人数</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>2017.10.02 Mon</li>
            <li>12:15〜</li>
            <li>TB211</li>
            <li>03名</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>2017.10.03 Tue</li>
            <li>12:15～</li>
            <li>TB204</li>
            <li>06名</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>2017.10.04 Wed</li>
            <li>13:00～</li>
            <li>TB104</li>
            <li>06名</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>2017.10.05 Thu</li>
            <li>13:00～</li>
            <li>TB212</li>
            <li>05名</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>2017.10.13 Fri</li>
            <li>14:40～</li>
            <li>TB211</li>
            <li>01名</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>2017.10.17 Tue</li>
            <li>12:15～</li>
            <li>TB209</li>
            <li>06名</li>
          </ul>
        </li>
      </ul>
  </section>

  <section id="Document">
    <h2 class="line-border line-title">　資料　</h2>
    <div class="pdfWrap PC">
      <object id="office_hourDocument" data="pdf/2017_office_hours.pdf" type="application/pdf"><p><a href="pdf/2017_office_hours.pdf">PDF をダウンロード</a></p></object></div>
      <h3 class="office_hourDocSP SP"><a href="pdf/2017_office_hours.pdf">PDF をダウンロード</a></h3>
  </section>

  <footer></footer>
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="js/load.js"></script>
  <script type="text/javascript" src="js/slide.js"></script>
</body>

</html>
