<nav> <ul>
  <li><a href="index.html">
    <div class="navIcon"><span class="icon-home"></span></div>
    <div class="navDes">　Top　</div>
    </a>
  </li>
  <li><a href="about.html">
    <div class="navIcon"><span class="icon-profile"></span></div>
    <div class="navDes">　About　</div>
    </a>
  </li>
  <li><a href="office_hour.html">
    <div class="navIcon"><span class="icon-office"></span></div>
    <div class="navDes">OfficeHour</div>
    </a>
  </li>
  <li><a href="schedule.html">
    <div class="navIcon"><span class="icon-table"></span></div>
    <div class="navDes">Schedule</div>
    </a>
  </li>
</ul> </nav>
