<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107302808-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments)
    };
    gtag('js', new Date());

    gtag('config', 'UA-107302808-1');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.firefly.kutc.kansai-u.ac.jp/index.html" />
  <meta property="og:image" content="https://www.firefly.kutc.kansai-u.ac.jp/img/icon.png" />
  <meta property="og:site_name" content="関西大学　小林研究室" />
  <meta property="og:description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．" />

  <!-- ※ Twitter共通設定 -->
  <meta name="twitter:card" content="Summary" />
  <meta name="twitter:site" content="" />
  <meta property="og:url" content="https://www.firefly.kutc.kansai-u.ac.jp/index.html" />
  <meta property="og:title" content="関西大学 小林研究室" />
  <meta property="og:description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．" />
  <meta property="og:image" content="https://www.firefly.kutc.kansai-u.ac.jp/img/icon.png" />

  <meta name="author" content="関西大学総合情報学部小林孝史ゼミ"></meta>
  <meta name="description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．"></meta>
  <meta name="keywords" content="関西大学,総合情報学部,小林孝史,セキュア情報システム,KOBAYASHI seminar,koba-semi"></meta>
  <title>小林孝史ゼミ</title>

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" media="(max-aspect-ratio: 1/1)" href="css/sp.css">
  <link rel="shortcut icon" href="img/kobasemi.ico">
</head>

<body>
  <header>
    <aritcle class="titleNav"></aritcle>
    <article id="indexSlide" class="topSlide"></article>
    <article id="spNav" class="SP"></article>
    <article id="topUnder"></article>
  </header>
  <!-- <header></header> -->
  <section id="topic">
    <h2>TOPIC</h2>
    <article id="topicItem"></article>
    <article id="topicBtn"></article>
  </section>

  <section id="news" class="bgImgBox">
    <img src="img/news.jpg" alt="">
    <h2>NEWS</h2>
    <article id="newsBox">
      <ul>
        <li><a href="#">2017.10.01　Webサイトをリニューアルいたしました。</a></li>
      </ul>
    </article>
  </section>

  <footer></footer>
  <!-- <footer></footer> -->
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="js/load.js"></script>
  <script type="text/javascript" src="js/slide.js"></script>
  <script type="text/javascript" src="js/topic.js"></script>
</body>

</html>
