<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107302808-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments)
    };
    gtag('js', new Date());

    gtag('config', 'UA-107302808-1');
  </script>

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.firefly.kutc.kansai-u.ac.jp/schedule.html" />
  <meta property="og:image" content="https://www.firefly.kutc.kansai-u.ac.jp/img/icon.png" />
  <meta property="og:site_name" content="関西大学　小林研究室" />
  <meta property="og:description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．" />

  <!-- ※ Twitter共通設定 -->
  <meta name="twitter:card" content="Summary" />
  <meta name="twitter:site" content="" />
  <meta property="og:url" content="https://www.firefly.kutc.kansai-u.ac.jp/schedule.html" />
  <meta property="og:title" content="関西大学 小林研究室" />
  <meta property="og:description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．" />
  <meta property="og:image" content="https://www.firefly.kutc.kansai-u.ac.jp/img/icon.png" />


  <!--  Facebook用設定 -->
  <!-- <meta property="fb:app_id" content="App-ID（15文字の半角数字）" /> -->
  <!-- もしくは -->
  <!-- <meta property="fb:admins" content="adminID（15文字の半角数字）" /> -->



  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="author" content="関西大学総合情報学部小林孝史ゼミ"></meta>
  <meta name="description" content="関西大学　総合情報学部　セキュア情報システム研究室（小林研究室）の公式ホームページ．"></meta>
  <meta name="keywords" content="関西大学,総合情報学部,小林孝史,セキュア情報システム,KOBAYASHI seminar,koba-semi"></meta>
  <title>小林孝史ゼミ</title>

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" media="(max-aspect-ratio: 1/1)" href="css/sp.css">  <link rel="shortcut icon" href="img/kobasemi.ico">

</head>

<body>
  <header class="otherHeader">
    <article class="titleNav"></article>
    <article class="otherSlide topSlide">
      <ul class="topslider">
        <li id="slideli01"><a href="#"><img src="img/slider/dummy1.jpg"></a>
        </li>
        <li id="slideli02"><a href="#"><img src="img/slider/dummy2.jpg"></a>
        </li>
        <li id="slideli03"><a href="#"><img src="img/slider/dummy3.jpg"></a>
        </li>
        <li id="slideli04"><a href="#"><img src="img/slider/dummy4.jpg"></a>
        </li>
      </ul>
    </article>
    <article id="spNav" class="SP"></article>
  </header>
  <!-- <header></header> -->
  <article id="schedule">
    <h1 class="line-border line-title" style="margin-top:2rem;">　SCHEDULE　</h1>

    <section id="calender">
      <h2>先生の予定</h2>
      <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ar7f7g2v54n9jnv2ab5jfaqle0%40group.calendar.google.com&amp;color=%232952A3&amp;src=bu08a3ihc2kim00gf96mnv0veg%40group.calendar.google.com&amp;color=%23711616&amp;src=0tueas15pdc6an84fpvf76f024%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=Asia%2FTokyo"
        frameborder="0" scrolling="no"></iframe>
    </section>
    <section id="annual">
      <h2 class="line-border line-title">　年間予定　</h2>
      <ul>
        <li>
          <ul>
            <li>　</li>
            <li>学内行事</li>
            <li>学外行事</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>4月</li>
            <li>　</li>
            <li></li>
          </ul>
        </li>
        <li>
          <ul>
            <li>5月</li>
            <li>卒業研究・専門演習</li>
            <li>情報危機管理コンテスト予選</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>6月</li>
            <li>　</li>
            <li>情報危機管理コンテスト<br/> 白浜シンポジウム
            </li>
          </ul>
        </li>
        <li>
          <ul>
            <li>7月</li>
            <li>春学期末試験</li>
            <li></li>
          </ul>
        </li>
        <li>
          <ul>
            <li>8月</li>
            <li>中間発表研究</li>
            <li></li>
          </ul>
        </li>
        <li>
          <ul>
            <li>9月</li>
            <li>中間発表<br/> インシデントレスポンス大会
            </li>
            <li>Network Skills Competition</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>10月</li>
            <li>オフィスアワー</li>
            <li></li>
          </ul>
        </li>
        <li>
          <ul>
            <li>11月</li>
            <li></li>
            <li></li>
          </ul>
        </li>
        <li>
          <ul>
            <li>12月</li>
            <li>卒業研究・専門演習</li>
            <li></li>
          </ul>
        </li>
        <li>
          <ul>
            <li>1月</li>
            <li>卒論概要提出<br/> 秋期試験
            </li>
            <li></li>
          </ul>
        </li>
        <li>
          <ul>
            <li>2月</li>
            <li>卒論発表会</li>
            <li></li>
          </ul>
        </li>
        <li>
          <ul>
            <li>3月</li>
            <li>新ゼミ生プレゼミ</li>
            <li>Network Skills Competition</li>
          </ul>
        </li>
      </ul>
    </article>
  </section>

  <footer></footer>
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="js/load.js"></script>
  <script type="text/javascript" src="js/slide.js"></script>
</body>

</html>
