<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>飲食店向け 無料ホームページテンプレート tp_foods7</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="copyright" content="Template Party">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="js/openclose.js"></script>
</head>

<body>

<div id="container">

<header>
<h1>h1テキスト入力場所です。titleタグの次に重要なので念入りに考えてワードを盛り込みましょう。</h1>
<p id="logo"><a href="index.html"><img src="images/logo.png" width="45" height="140" alt="和食"></a></p>
<p id="logo-s"><a href="index.html"><img src="images/logo-s.png" width="45" height="140" alt="和食"></a></p>
</header>

<nav id="menubar">
<ul>
<li><a href="info.html">ご案内<span>INFORMATION</span></a></li>
<li><a href="menu.html">メニュー<span>MENU</span></a></li>
<li><a href="coupon.html">クーポン<span>COUPON</span></a></li>
<li><a href="contact.html">ご予約・お問合せ<span>CONTACT</span></a></li>
</ul>
</nav>

<aside id="mainimg">
<img class="slide_file" src="images/1.jpg" title="index.html">
<img class="slide_file" src="images/2.jpg" title="index.html">
<img class="slide_file" src="images/3.jpg" title="index.html">
<input type="hidden" id="slide_loop" value="0">
<a href="index.html" id="slide_link">
<img id="slide_image" src="images/1.jpg" alt="">
<img id="slide_image2" src="images/1.jpg" alt=""></a>
</aside>

<div id="contents">

<div id="main">

<section>

<h2>無料テンプレートのご利用前に必ずお読み下さい</h2>
<p>このテンプレートは、<a href="http://template-party.com/">Template Party</a>にて無料配布している『飲食店向け 無料ホームページテンプレート tp_foods7』です。必ずダウンロード先のサイトの利用規約をご一読の上でご利用下さい。</p>
<p><span class="color1">■<strong>HP最下部の著作表示『Web Design:Template-Party』は無断で削除しないで下さい。</strong></span><br>
わざと見えなく加工する事も禁止します。お守りいただけない場合、テンプレートの利用を中止し、違反金を請求いたします。</p>
<p><span class="color1">■<strong>どうしても下部の著作を外したい場合は</strong></span><br>
<a href="http://template-party.com/">Template-Party</a>の<a href="http://template-party.com/member.html">ライセンス契約</a>を行う事でHP下部の著作を外す事ができます。おまけ特典として、制作時Photoshopファイルももらえます。</p>

    <section>
    <h3>当テンプレートはhtml5+CSS3(レスポンシブWEBデザイン)です</h3>
    <p>パソコン、タブレット、スマートフォンに対応しています。各デバイスごとの設定変更はcssフォルダ内にある各cssファイルで行って下さい。<br>
    尚、新しいブラウザ(IEならIE10以降)でないと全ての効果を確認する事はできません。マークアップなどはご自身の判断で変更してご利用下さい。</p>
    </section>
    
    <section>
    <h3>当テンプレートの詳しい使い方</h3>
    <p><a href="about.html">当テンプレートの詳しい使い方はこちらをご覧下さい。</a></p>
    </section>
    
    <section>
    <h2>飲食店向けCMSプログラム販売中</h2>
    <p>トップページや店舗紹介ページやメニュー案内ページなどの各ページレイアウト設定済みのプログラムを販売中です。<a href="http://template-party.com/food_program/index2.html">詳しくはこちらをご覧下さい。</a><br>
    <a href="http://template-party.com/food_program/index2.html"><img src="http://template-party.com/food_program/img_temp600.jpg" alt="" width="600" height="300"></a></p>
    </section>
        
</section>


<section id="new">
<h2 id="newinfo_hdr" class="close">更新情報・お知らせ</h2>
<dl id="newinfo">
<dt>2015/00/00</dt>
<dd>ホームページリニューアル<span class="newicon">NEW</span></dd>
<dt>2015/00/00</dt>
<dd>ホームページリニューアル</dd>
<dt>2015/00/00</dt>
<dd>ホームページリニューアル</dd>
<dt>2015/00/00</dt>
<dd>ホームページリニューアル</dd>
<dt>2015/00/00</dt>
<dd>ホームページリニューアル</dd>
<dt>2015/00/00</dt>
<dd>ホームページリニューアル</dd>
<dt>2015/00/00</dt>
<dd>ホームページリニューアル</dd>
</dl>
</section>

</div>
<!--/main-->

<div id="sub">

<nav>
<h2>SUB MENU</h2>
<ul class="submenu mb10">
<li><a href="recruit.html">採用情報</a></li>
<li><a href="link.html">リンク</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
</ul>
</nav>

<aside>
<h2>関連情報</h2>
<ul class="submenu">
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
</ul>
</aside>

<div class="box1">
<section>
<h2>この見出しはh2タグです</h2>
<p>このボックスは、class="box1"と指定すれば出ます。ここに画像を置く場合、PC環境だと幅198pxまで。</p>
</section>
</div>
<!--/box1-->

<section>
<h2>この見出しはh2タグです</h2>
<p>ここのスペースも使えます。ここに画像を置く場合、PC環境だと幅220pxまで。</p>
</section>

<div class="box1">
<nav>
<h2>SUB MENU</h2>
<ul class="submenu mb10">
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
</ul>
</nav>
<p>box1の中にメニューを置くとこんな感じ。</p>
</div>
<!--/box1-->

</div>
<!--/sub-->

<p id="pagetop"><a href="#">↑ PAGE TOP</a></p>

</div>
<!--/contents-->

<footer>
<small>Copyright&copy; 2015 <a href="index.html">和食</a>　All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a></span>
</footer>

</div>
<!--/container-->

<!--スライドショースクリプト-->
<script type="text/javascript" src="js/slide_simple_pack.js"></script>

<!--スマホ用更新情報-->
<script type="text/javascript">
if (OCwindowWidth() < 480) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

</body>
</html>
