@charset "utf-8";


/*PC・タブレット・スマホ共通設定
---------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	color: #444;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 14px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #fff url(../images/bg.jpg);	/*背景色と背景画像*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form{margin:0px;padding:0px;}
ul{list-style-type:none;}
img{border:none;max-width:100%;height:auto;}
table{border-collapse:collapse;font-size:100%;border-spacing:0;}
iframe{width:100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #444;	/*リンクテキストの色*/
	-webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	transition: 0.5s;			/*同上*/
}
a:hover {
	color: #6cafee;			/*マウスオン時の文字色（全体）*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*ヘッダー（サイトロゴとメインメニューが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	width: 100%;
}
header .inner {
	width: 980px;	/*幅*/
	height: 140px;	/*高さ*/
	margin: 0 auto;
	position: relative;
}
/*トップページのinnner*/
#top header .inner {
	height: 350px;	/*トップページでの高さ*/
	background: url(../images/header_bg.png) no-repeat left bottom;	/*トップページでの背景装飾画像の読み込み*/
}
/*ロゴ画像*/
header #logo {
	position: absolute;
	left: 0px;	/*header #innerに対して左から0pxの場所に配置*/
	top: 40px;	/*header #innerに対して上から40pxの場所に配置*/
	width: 380px;	/*ロゴ画像の幅*/
}
/*トップページにおいている食べ物の写真*/
header #mainimg {
	width: 500px;	/*幅*/
	position: absolute;
	right: 0px;		/*header #innerに対して右から0pxの場所に配置*/
	bottom: -40px;	/*header #innerに対して下から-40pxの場所に配置*/
}

/*メインメニュー（右上のメニュー）
---------------------------------------------------------------------------*/
/*メニューボックス全体への設定*/
#menubar {
	position: absolute;
	right: 0px;	/*header #innerに対して右から0pxの場所に配置*/
	top: 0px;	/*header #innerに対して上から0pxの場所に配置*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	float: left;	/*左に回り込み*/
	text-align: center;
	margin-left: 10px;	/*メニュー間にとるスペース*/
}
#menubar li a {
	display: block;
	text-decoration: none;
	background: #6cafee;	/*背景色（古いブラウザ用）*/
	background: #6cafee padding-box;	/*背景色*/
	border: 10px solid #fff;	/*枠線の幅、線種、色。（古いブラウザ用）*/
	border: 10px solid rgba(108,175,238,0.5);	/*枠線の幅、線種、色。カッコ内左３つの数字がrgbでの色指定で最後の小数点が透明度。*/
	margin-top: -10px;	/*上の線が見えないように、上に10px移動させる*/
	color: #fff;	/*文字色*/
	width: 100px;	/*幅*/
	line-height: 100px;	/*行間（高さ）*/
	overflow: hidden;	/*飛び出た文字を非表示に*/
}
/*マウスオン時、現在表示中のメニュー設定（※小さな端末menubar-sにも適用）*/
#menubar a:hover,
#menubar li.current a,
#menubar-s li.current a {
	background: #fff;	/*背景色*/
	color: #6cafee;		/*文字色*/
	border: 10px solid #6cafee;	/*枠線の幅、線種、色*/
}
/*スマホ用メニューを表示させない*/
#menubar-s {
	display: none;
}
/*３本バーアイコンを表示させない*/
#menubar_hdr {
	display: none;
}

/*コンテンツ（左右ブロックを囲むボックス）
---------------------------------------------------------------------------*/
#contents {
	background: #6cafee;	/*背景色*/
	color: #fff;	/*文字色*/
}
#contents a {
	color: #fff;	/*リンクテキストの文字色*/
}
#contents .inner {
	width: 980px;	/*コンテンツの幅*/
	margin: 0 auto;
	padding-top: 30px;
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	float: right;	/*右側に回り込み*/
	width: 700px;	/*幅*/
}
.c1 #main {
	float: none;
	width: auto;
}
/*mainコンテンツのh2タグの設定*/
#main h2 {
	clear: both;
	margin-bottom: 15px;
	font-size: 100%;
	background: #fff;	/*背景色*/
	color: #333;	/*文字色*/
	padding: 10px 15px;	/*上下、左右へとるボックス内の余白*/
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.2);	/*影の設定。右・下・ぼかし幅・色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。*/
	box-shadow: 2px 2px 6px rgba(0,0,0,0.2);			/*同上*/
}
/*mainコンテンツのh2タグの１文字目への設定*/
#main h2::first-letter {
	border-left: 3px solid #6cafee;	/*左側のアクセント用ラインの幅、線種、色*/
	padding-left: 10px;	/*アクセントラインと文字の間にとる余白*/
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	clear: both;
	margin-bottom: 15px;
	font-size: 100%;
	padding: 10px 15px;	/*上下、左右へとるボックス内の余白*/
	background: #067eec;	/*背景色*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 7px 15px 14px;	/*上、左右、下への余白*/
}
#main p + p {
	padding-top: 0px;
}
#main h2 + p,
#main h3 + p {
	padding-top: 0px;
	margin-top: -5px;
}

/*MENUページ
---------------------------------------------------------------------------*/
/*ボックス共通設定*/
#main section.list {
	margin-bottom: 15px;	/*ボックスの下に空ける余白*/
	position: relative;
	overflow: hidden;
	background: #fff;	/*背景色*/
	padding: 3.5%;		/*ボックス内の余白*/
	color: #333;		/*文字色*/
}
/*ボックス内のh4タグ共通設定*/
#main section.list h4 {
	color: #6cafee;	/*文字色*/
	background: url(../images/mark1.png) no-repeat left 5px/15px;	/*王冠マークの読み込み。最後の15pxはサイズ指定。マークを入れ替えた場合に上下がずれるなら5pxの数字をcenterか他の近い数字に変更してみる。*/
	padding-left: 18px;	/*王冠マークに文字が重ならないように幅を確保*/
	margin-left: 24%;	/*画像とのバランスをとって設定（※横長タイプ用）*/
}
/*ボックス内の段落タグ共通設定*/
#main section.list p {
	padding: 0px;
	margin-left: 24%;	/*画像とのバランスをとって設定（※横長タイプ用）*/
}
/*ボックス内の写真共通設定*/
#main section.list figure img {
	float: left;	/*画像を左へ回り込み（※横長タイプ用）*/
	width: 20%;		/*写真の幅（※横長タイプ用）*/
}
/*コンパクトタイプのボックス追加設定*/
#main section.list.compact {
	width: 23%;		/*compactタイプの幅*/
	height: 220px;	/*compactタイプの高さ*/
	float: left;	/*ボックスを左に回り込み*/
	margin-left: 2.5%;	/*ボックス間の余白*/
}
.c1 #main section.list.compact {
	height: 250px;	/*１カラムの時の高さ*/
}
/*コンパクトタイプのh4タグ追加設定*/
#main section.list.compact h4 {
	margin-left: 0;
}
/*コンパクトタイプの段落タグ追加設定*/
#main section.list.compact p {
	margin-left: 0;
	font-size: 11px;	/*compactタイプの文字サイズ*/
	line-height: 1.4;
	margin-bottom: 5px;
}
/*コンパクトタイプの写真追加設定*/
#main section.list.compact figure img {
	float: none;
	width: auto;
	margin: 0;
}
/*おすすめマーク*/
.osusume {
	position: absolute;
	left: 5px;	/*ボックスの左から5pxの場所に配置*/
	top: 5px;	/*ボックスの上から5pxの場所に配置*/
	background :#f891b5;	/*背景色（※古いブラウザ用）*/
	background: rgba(246,68,130,0.6);	/*rgbaでの背景色。左３つが色指定で最後の小数点が透明度。*/
	color: #fff;	/*文字色*/
	border-radius: 50px;	/*角丸の指定。数字が大きければ正円になります。*/
	width: 50px;	/*幅*/
	line-height: 50px;	/*行間（高さ）*/
	text-align: center;
	font-size: 9px;	/*文字サイズ*/
	overflow: hidden;
	transform: rotate(-30deg);	/*左回転で30度傾ける設定*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	float: left;	/*左に回り込み*/
	width: 220px;	/*幅*/
}
.c1 #sub {
	display: none;	/*１カラムの時に非表示にする*/
}
/*subコンテンツ内のh2タグ設定*/
#sub h2 {
	font-size: 100%;
	text-align: center;
	color: #333;	/*文字色*/
	background: #fff;	/*背景色（古いブラウザ用）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f1ec));	/*グラデーション*/
	background: -webkit-linear-gradient(#fff, #f3f1ec);	/*同上*/
	background: linear-gradient(#fff, #f3f1ec);			/*同上*/
	border-radius: 10px 10px 0px 0px;	/*角丸の指定。左上、右上、右下、左下への順番。*/
	padding: 10px 0px;	/*上下、左右へのボックス内の余白*/
	margin-bottom: 4px;
}

/*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
#sub ul.submenu {
	margin-bottom: 15px;	/*メニューブロックの下に空けるスペース*/
}
/*メニュー１個ごとの設定*/
#sub ul.submenu li a {
	text-decoration: none;
	display: block;
	text-align: center;	/*文字をセンタリング*/
	padding: 10px 0px;	/*上下、左右へのボックス内の余白*/
	background :#313131;	/*背景色*/
	margin-bottom: 4px;	/*メニュー同士の余白*/
}
/*マウスオン時*/
#sub ul.submenu li a:hover {
	background: #fff;	/*背景色*/
	color: #6cafee;		/*文字色*/
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
}
footer a {
	text-decoration: none;
}
footer .pr {
	display: block;
	font-size: 80%;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl{
	padding-left: 15px;
	margin-bottom: 15px;
	overflow: auto;	/*高さ指定を超えるとiframe風にスクロールが出る設定。全部表示させたいならこの行と下のheightの行を削除。*/
	height: 140px;	/*ボックスの高さ*/
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	padding-left: 8em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*ta1設定*/
.ta1 {
	width: 100%;
	margin-bottom: 15px;
}
.ta1, .ta1 td, .ta1 th {
	border: 1px solid #fff;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px;	/*ボックス内の余白*/
	word-break: break-all;
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*左よせ*/
	background: #067eec;	/*背景色*/
}
/*左側ボックス*/
.ta1 th {
	width: 140px;	/*幅*/
	text-align: center;	/*センタリング*/
}

/*PAGE TOP設定
---------------------------------------------------------------------------*/
#pagetop {
	clear: both;
	padding-top: 40px;
}
#pagetop a {
	font-size: 20px;	/*文字サイズ*/
	background: #fff;	/*背景色*/
	color: #333;		/*文字色*/
	width: 80px;		/*幅*/
	line-height: 80px;	/*行間（高さ）*/
	text-decoration: none;
	text-align: center;
	display: block;
	float: right;
	border-radius: 50px;	/*角丸のサイズ*/
}
/*マウスオン時*/
#pagetop a:hover {
	background: #000;	/*背景色*/
	color: #FFF;			/*文字色*/
}

/*NEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 10px;	/*文字サイズ*/
	border-radius: 2px;	/*角丸のサイズ*/
	padding: 0px 5px;
	margin: 0px 5px;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #333;}
.mb15,.mb1em {margin-bottom: 15px;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 1em;list-style: disc;}
.color1 {color: #ffde00;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}



/*画面幅800px以下の設定
---------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*ヘッダー（サイトロゴとメインメニューが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header .inner {
	width: auto;
	height: 220px;
	margin: 0px 10px;
}
/*トップページのinnner*/
#top header .inner {
	background: url(../images/header_bg.png) no-repeat left bottom/50%;
}
/*ロゴ画像*/
header #logo {
	position: static;
	margin: 10px auto;
}
/*トップページにおいている食べ物の写真*/
header #mainimg {
	width: 60%;
}

/*メインメニュー（右上のメニュー）
---------------------------------------------------------------------------*/
/*メニューボックス全体への設定*/
#menubar {
	position: static;
	width: 530px;
	margin: 0 auto;
}

/*コンテンツ
---------------------------------------------------------------------------*/
#contents .inner {
	width: auto;
	padding: 10px;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*その他
---------------------------------------------------------------------------*/
body.s-n #sub {
	display: none;
}

}



/*画面幅570px以下の設定
---------------------------------------------------------------------------*/
@media screen and (max-width:570px){

/*ヘッダー（サイトロゴとメインメニューが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header .inner {
	height: auto;
	padding-bottom: 0px;
}
/*トップページのinnner*/
#top header .inner {
	height: auto;
	padding-bottom: 80px;
}

/*小さな端末専用メインメニュー
---------------------------------------------------------------------------*/
/*メニューボックス全体への設定*/
#menubar-s {
	display: block;	/*スマホ用メニューを非表示から表示に切り替える*/
	background: #fff;
	background: rgba(255,255,255,0.7);
	padding: 20px;
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}
/*メニュー１個あたりの設定*/
#menubar-s li {
	margin: 10px;
}
#menubar-s li a {
	display: block;
	text-decoration: none;
	width: 100%;
	background: #6cafee padding-box;
	border: 10px solid rgba(108,175,238,0.5);
	color: #fff;	/*文字色*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
}
#menubar-s li a::before {
	content: "→";	/*メニューテキストの左側に入れる文字*/
	padding-right: 10px;	/*メニューテキストと上のやじるし画像との間にあける余白*/
}
/*PC用メニューを非表示にする*/
#menubar {
	display: none;
}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: absolute;
	top: 0px;		/*上から10pxの場所に配置*/
	right: 10px;	/*右から10pxの場所に配置*/
	width: 30px;	/*幅*/
	border: 1px solid #000;	/*枠線の幅、線種、色*/
	border-top: none;
	border-radius: 0px 0px 4px 4px;	/*角丸のサイズ*/
	padding: 12px 10px 5px;	/*上、左右、下へのボックス内余白*/
	background: #fff;	/*背景色*/
}
/*３本のバー（1本あたり）*/
#menubar_hdr span {
	display: block;
	border-top: 2px solid #000;	/*枠線の幅、線種、色*/
	border-radius: 2px;	/*角丸のサイズ*/
	margin-bottom: 7px;	/*バー同士の余白*/
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
section#new h2.open {
	background: #fff url(../images/btn_minus.png) no-repeat right center/34px 34px;	/*背景色とプラスアイコン*/
}
section#new h2.close {
	background: #fff url(../images/btn_plus.png) no-repeat right center/34px 34px;	/*背景色とマイナスアイコン*/
}

}



/*画面幅480px以下の設定
---------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*ヘッダー（サイトロゴとメインメニューが入ったブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo {
	width: 70%;
}
/*トップページにおいている食べ物の写真*/
header #mainimg {
	position: absolute;
	right: 0px;	
	bottom: 0px;
	width: 50%;
}

/*MENUページ
---------------------------------------------------------------------------*/
/*コンパクトタイプのボックス追加設定*/
#main section.list.compact {
	width: 39%;
}
/*コンパクトタイプのh4タグ追加設定*/
#main section.list.compact h4 {
	font-size: 11px;
	background: url(../images/mark1.png) no-repeat left 5px/10px;
	padding-left: 12px;
}
/*ボックス内の段落タグ設定*/
#main section.list p {
	margin-left: 0;
}
/*ボックス内の写真設定*/
#main section.list figure img {
	float: none;
	width: 100% !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*ボックス内のh4タグ設定*/
#main section.list h4 {
	margin-left: 0;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル内の左側*/
.ta1 th {
	width: 100px;
	padding: 5px;
}
/*テーブル内の右側*/
.ta1 td {
	width: auto;
	padding: 5px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {
	width: 90%;
}

}
