<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>カフェ向け無料ホームページテンプレート tp_cafe13</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/openclose.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<header>
<div class="inner">
<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="Sample Cafe"/></a></h1>
<!--PC用（571px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li><a href="index.html">HOME</a></li>
<li><a href="menu.html">MENU</a></li>
<li class="current"><a href="access.html">ACCESS</a></li>
<li><a href="recruit.html">RECRUIT</a></li>
</ul>
</nav>
<!--小さな端末用（※570px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li><a href="index.html">HOME</a></li>
<li><a href="menu.html">MENU</a></li>
<li class="current"><a href="access.html">ACCESS</a></li>
<li><a href="recruit.html">RECRUIT</a></li>
</ul>
</nav>
</div>
<!--/inner-->
</header>

<div id="contents">

<div class="inner">

<div id="main">

<section>

<h2>アクセス</h2>
<table class="ta1">
<tr>
<th>店名</th>
<td>サンプルテキスト。</td>
</tr>
<tr>
<th>所在地</th>
<td>サンプルテキスト。</td>
</tr>
<tr>
<th>TEL</th>
<td>サンプルテキスト。</td>
</tr>
<tr>
<th>MAP</th>
<td><a href="http://template-party.com/file/pickup_googlemap.html" target="_blank">GoogleMapで地図を貼り付けたい</a>人は解説がありますのでご覧下さい。</td>
</tr>
</table>

</section>

</div>
<!--/main-->

<div id="sub">

<nav>
<h2>Sub Menu</h2>
<ul class="submenu">
<li><a href="#">Menu</a></li>
<li><a href="#">Menu</a></li>
<li><a href="#">Menu</a></li>
<li><a href="#">Menu</a></li>
<li><a href="#">Menu</a></li>
<li><a href="#">Menu</a></li>
</ul>
</nav>

</div>
<!--/sub-->

<p id="pagetop"><a href="#">↑</a></p>

<footer>
<small>Copyright&copy; <a href="index.html">Sample Cafe</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a></span>
</footer>

</div>
<!--/inner-->

</div>
<!--/contents-->

<!--メニューの３本バー-->
<div id="menubar_hdr" class="close"><span></span><span></span><span></span></div>
<!--メニューの開閉処理条件設定　570px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 570) {
	open_close("menubar_hdr", "menubar-s");
}
</script>
</body>
</html>
