<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>不動産業者向け 無料ホームページテンプレート tp_fudosan13</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/fixmenu_pagetop.css">
<script type="text/javascript" src="js/openclose.js"></script>
<script type="text/javascript" src="js/fixmenu_pagetop.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="s-n">

<div id="container">

<header>
<aside id="mainimg">
<img src="images/mainimg.png" alt="">
</aside>
<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="サンプル不動産"></a></h1>
</header>

<div id="contents">

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li><a href="index.html">ホーム<span>HOME</span></a></li>
<li><a href="baibai.html">売買物件<span>BAIBAI</span></a></li>
<li><a href="chintai.html">賃貸物件<span>CHINTAI</span></a></li>
<li><a href="tenant.html">店舗物件<span>TENANT</span></a></li>
<li><a href="parking.html">駐車場物件<span>PARKING</span></a></li>
</ul>
</nav>

<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li><a href="index.html">ホーム<span>HOME</span></a></li>
<li><a href="baibai.html">売買物件<span>BAIBAI</span></a></li>
<li><a href="chintai.html">賃貸物件<span>CHINTAI</span></a></li>
<li><a href="tenant.html">店舗物件<span>TENANT</span></a></li>
<li><a href="parking.html">駐車場物件<span>PARKING</span></a></li>
</ul>
</nav>

<div id="main">

<section>

<h2>送信完了</h2>

<!-- フォームの情報はここからです -->
<form name="form1" enctype="multipart/form-data" method="post" action="<?php echo $_SERVER["REQUEST_URI"];?>">
<input type="hidden" name="mode" value="finish" />
<!-- 処理終了 -->
<p class="c">送信が完了しました。</p>
</form>
<!-- フォームの情報はここまでです -->

</section>

</div>
<!--/main-->

<div id="sub">

<nav class="box">
<h2>Menu</h2>
<ul class="submenu">
<li><a href="company.html">会社概要</a></li>
<li><a href="recruit.html">採用情報</a></li>
<li><a href="#">メニュー</a></li>
<li><a href="#">メニュー</a></li>
<li><a href="#">メニュー</a></li>
</ul>
</nav>

<section class="box">

<h2>おすすめ物件情報</h2>

<div class="list">
<a href="item.html">
<figure><img src="images/sample1.jpg" alt="写真の説明"></figure>
<h4>物件タイトル<span class="newicon">NEW</span></h4>
<p>所在地：東京都XXXX<br>
価格：XXXXX円</p>
</a>
</div>

<div class="list">
<a href="item.html">
<figure><img src="images/sample1.jpg" alt="写真の説明"></figure>
<h4>物件タイトル</h4>
<p>所在地：東京都XXXX<br>
価格：XXXXX円</p>
</a>
</div>

<div class="list">
<a href="item.html">
<figure><img src="images/sample1.jpg" alt="写真の説明"></figure>
<h4>物件タイトル</h4>
<p>所在地：東京都XXXX<br>
価格：XXXXX円</p>
</a>
</div>

<div class="list">
<a href="item.html">
<figure><img src="images/sample1.jpg" alt="写真の説明"></figure>
<h4>物件タイトル</h4>
<p>所在地：東京都XXXX<br>
価格：XXXXX円</p>
</a>
</div>

<div class="list option2">
<a href="item.html">
<figure><img src="images/sample1.jpg" alt="写真の説明"></figure>
<h4>物件タイトル</h4>
<p>所在地：東京都XXXX<br>
価格：XXXXX円</p>
<span class="option2">ご契約済</span>
</a>
</div>

</section>

<section class="box">
<h2>運営</h2>
<p><strong>サンプル不動産</strong><br>
<span class="mini1">東京都XX区XXXXビル3F<br>
TEL:03-0000-0000<br>
(AM9:00〜PM5:00 土日祝休み)</span></p>
</section>

</div>
<!--/sub-->

</div>
<!--/contents-->

<footer>

<div id="footermenu">
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
</div>
<!--/footermenu-->

<div id="copyright">
<small>Copyright&copy; <a href="index.html">サンプル不動産</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

</div>
<!--/container-->

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>
</body>
</html>
