<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>飲食店向け 無料ホームページテンプレート tp_foods7</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="copyright" content="Template Party">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="js/openclose.js"></script>
</head>

<body>

<div id="container">

<header>
<h1>h1テキスト入力場所です。titleタグの次に重要なので念入りに考えてワードを盛り込みましょう。</h1>
<p id="logo"><a href="index.html"><img src="images/logo.png" width="45" height="140" alt="和食"></a></p>
<p id="logo-s"><a href="index.html"><img src="images/logo-s.png" width="45" height="140" alt="和食"></a></p>
</header>

<nav id="menubar">
<ul>
<li class="current"><a href="info.html">ご案内<span>INFORMATION</span></a></li>
<li><a href="menu.html">メニュー<span>MENU</span></a></li>
<li><a href="coupon.html">クーポン<span>COUPON</span></a></li>
<li><a href="contact.html">ご予約・お問合せ<span>CONTACT</span></a></li>
</ul>
</nav>

<aside id="mainimg">
<img src="images/subimg_info.jpg" alt="">
</aside>

<div id="contents">

<div id="main">

<section>

<h2 class="mb15">当テンプレートの使い方</h2>

	<section>
	<h3>レスポンシブWEBデザインについて</h3>
	<p>当テンプレートは、PC、スマホ、タブレット共通で閲覧可能なレスポンシブWEBデザインになっております。</p>
	<p>古いブラウザ（※特にIE8以下）で閲覧した場合にCSSの一部が適用されない（各を丸くする加工やグラデーションなどの加工等）のでご注意下さい。古いブラウザでも最低限見れる状態にはしてありますが、必要に応じて各htmlのhead内の&lt;!--[if lt IE 9]&gt;から&lt;![endif]--&gt;の間に調整用のCSSを記述して下さい。</p>
	</section>

	<section>
	<h3>各デバイスごとのレイアウトチェックは</h3>
	<p>最終的なチェックは実際のタブレットやスマホで行うのがおすすめですが、臨時チェックは最新のブラウザ(IEならIE10以降)で行う事もできます。ブラウザの幅を狭くしていくと、タブレットやスマホ環境でのレイアウトになります。</p>
	</section>

	<section>
	<h3>各デバイス用のスタイル変更は</h3>
	<p>cssフォルダのstyle.cssファイルで行って下さい。詳しい説明も入っています。</p>
    <p>スマホ用とタブレット用のスタイルはcssファイル後半に入っています。<br>
    media=&quot; (～)&quot;の「～」部分でcssを切り替えるディスプレイのサイズを設定しています。ここは必要に応じて変更も可能です。</p>
    <p>最新のスマートフォンなどは、画面サイズや解像度が上がってきている為、PCと同じ画面が表示される場合もあります。調整したい場合は上のcssの切り替えサイズを変更してみて下さい。</p>
    
	</section>
    
    <section>
    <h3>スマホ環境でのみ</h3>
    <p>トップページ「以外」のメインメニューが折りたたみ式（３本バーアイコン化）になります。当テンプレートには既に設定が組み込まれていますが<a href="http://template-party.com/tips/tips14_menubar.html">設定方法のtipsも公開中</a>。</p>
    </section>
	    
	<section>
	<h3>画像ベースは</h3>
	<p>「base」フォルダに入っていますのでご自由にご活用下さい。<br>
    写真の元素材を当社運営の<a href="http://photo-chips.com/">PHOTO-CHIPS</a>や<a href="http://decoruto.com/">DECORUTO</a>で配布している場合もございます。</p>
	</section>

	<section>
	<h3>titleタグ、metaタグ、copyright設定</h3>
	<p><strong class="color1">■titleタグの設定はとても重要です。念入りにワードを選んで適切に入力しましょう。</strong><br>
    まず、htmlソースが見れる状態(メモ帳などで開いてもOK)にして、<br>
	<span class="look">&lt;title&gt;飲食店向け 無料ホームページテンプレート tp_foods6&lt;/title&gt;</span><br>
	を編集しましょう。あなたのホームページ名が「和食」だとすれば、<br>
	<span class="look">&lt;title&gt;和食&lt;/title&gt;</span><br>
	とすればＯＫです。SEO対策もするなら冒頭に重要なワードを入れておきましょう。</p>
	<p>続いて、下の方の<br>
	<span class="look">Copyright&copy; 2015 和食 All Rights Reserved.</span><br>
	もあなたのサイト名に変更します。「2015」部分はその年その年にあわせて変更していって下さい。</p>
	<p><strong class="color1">■metaタグを変更しましょう。</strong><br>
	htmlソースが見える状態にしてmetaタグを変更しましょう。</p>
	<p>ソースの上の方に、<br>
	<span class="look">content=&quot;ここにサイト説明を入れます&quot;</span><br>
	という部分がありますので、テキストをサイトの説明文に入れ替えます。検索結果の文面に使われる場合もありますので、見た人が来訪したくなるような説明文を簡潔に書きましょう。</p>
	<p>続いて、その下の行の<br>
	<span class="look">content=&quot;キーワード１,キーワード２,～～～&quot;</span><br>
	も設定します。ここはサイトに関係のあるキーワードを入れる箇所です。10個前後ぐらいあれば充分です。キーワード間はカンマ「,」で区切ります。</p>
	</section>

	<section>
    <h3>ロゴ画像を（※２種類あります）入れ替えましょう</h3>
    <p>baseフォルダに文字なしのロゴ土台（logo.pngとlogo-s.png）が梱包されていますので、それにサイト名を入れてimagesフォルダに上書きして下さい。<br>
logo.pngはPCとタブレット環境用の縦長ロゴで、logo-s.pngはスマホ用の横長ロゴになります。両方準備して下さい。</p>
<p>ロゴの画像サイズが配置サイズよりも大きいのは、高解像度のデバイスで見た場合にボケるのを防ぐ為です。(※現在、もっと解像度の高い端末も出ており、これでもピンボケして見えてしまう場合があります。)</p>
    </section>

	<section>
	<h3>トップページのスライドショー画像について</h3>
	<p>
	<strong class="color1">■当テンプレートの画像のスライド表示は<a href="http://www.crytus.co.jp/">有限会社クリタス様</a>提供のプログラムを使用しています。slide_simple_pack.jsファイルは改変せずにご利用下さい。<br>
	また、当社配布以外のテンプレートにプログラムのみを使う場合は<a href="http://template-party.com/free_program/program2_license.html">こちらの規約</a>をお守り下さい。</strong></p>
	<p><strong class="color1">■使い方解説</strong><br>
	トップページのメイン写真はjavascriptを使用したスライドショーになっています。</p>
	<p>お手持ちの写真と入れ替える場合、jpg画像を3枚準備します。サイズが３枚が揃っていればどんなサイズでも構いません。<br>
	3枚の画像名は表示順に、<br>
	<span class="look">1.jpg</span>　<span class="look">2.jpg</span>　<span class="look">3.jpg</span><br>
	とします。拡張子は「jpg」であるか確認して下さい。「JPG」や「jpeg」など文字が異なるとブラウザによっては正常に表示できません。<br>
3枚の画像完成後、imagesフォルダに3枚の画像を上書き保存します。これで現在のスライドショー映像が入れ替わります。<br>
	<strong class="color1">■最大5枚まで画像の追加が可能です。</strong><br> 
	index.htmlのスライドショー画像がある部分のhtml側に、<br>
	<span class="look">&lt;img class=&quot;slide_file&quot; src=&quot;images/1.jpg&quot; title=&quot;index.html&quot;&gt;<br>
	&lt;img class=&quot;slide_file&quot; src=&quot;images/2.jpg&quot; title=&quot;index.html&quot;&gt;<br>
	&lt;img class=&quot;slide_file&quot; src=&quot;images/3.jpg&quot; title=&quot;index.html&quot;&gt;</span><br>
	の行があるので、この下に追加タグを加えて下さい。例えば4.jpgの画像を１枚追加するなら、上記の３行タグを含めて、<br>
	<span class="look">&lt;img class=&quot;slide_file&quot; src=&quot;images/1.jpg&quot; title=&quot;index.html&quot;&gt;<br>
	&lt;img class=&quot;slide_file&quot; src=&quot;images/2.jpg&quot; title=&quot;index.html&quot;&gt;<br>
	&lt;img class=&quot;slide_file&quot; src=&quot;images/3.jpg&quot; title=&quot;index.html&quot;&gt;<br>
	&lt;img class=&quot;slide_file&quot; src=&quot;images/4.jpg&quot; title=&quot;index.html&quot;&gt;</span><br>
	といったタグになります。<br>
	<strong class="color1">■各画像ごとにリンクを設定できます。</strong><br>
	上記の各画像タグに、<span class="look">titleでリンク先の設定</span>がされています。ダウンロード時点では全てindex.htmlがリンク先になっていますので、ご希望に合わせてリンク先アドレスを変更して下さい。<br>
	リンクを設定したくない場合、<br>
	<span class="look">&lt;a href=&quot;index.html&quot; id=&quot;slide_link&quot;&gt;</span><br>
	のリンクタグを削除してもらえればＯＫ。閉じタグ（<span class="look">&lt;/a&gt;</span>）の削除もお忘れなく。<br>
	<strong class="color1">■希望するループ回数でストップさせる事ができます。</strong><br>
	<span class="look">&lt;input type=&quot;hidden&quot; id=&quot;slide_loop&quot; value=&quot;0&quot;&gt;</span><br>
	という行があるので、ここの「<span class="look">value=&quot;0&quot;</span>」の数字(ループ回数)を指定して下さい。「0」のままだとエンドレスでループします。<br>
	<strong class="color1">■スライドショーの速度を変更したい場合は</strong><br>
	<a href="http://template-party.com/tips/tips11.html">こちらに解説がありますのでご参照下さい。</a><br>
	<strong class="color1">■サーバーにアップ後、スライドショーが表示されない場合。</strong><br>
	slide_simple_pack.jsファイルがアップロードされているかご確認下さい。ビルダーでアップしている場合、jsファイルがアップされない場合もあるようなのでご確認下さい。アップされている場合、スライドショー用の写真がアップロードされているか、上の説明にあるようにファイル名を間違えていないかもご確認下さい。<br>
	<strong class="color1">■スライドショーではなく、通常の固定画像にしたい場合は</strong><br>
	梱包の<a href="index_sample.html">index_sample.html</a>をindex.htmlに変更してご利用下さい。<br>
	<strong class="color1">■画像加工承っております。</strong><br>
	１枚1,000円より画像加工も承り中。見積もり無料なのでお気軽にご相談下さい。</p>
	</section>
    
	<section>
	<h3>トップページの「更新情報・お知らせ」及びスマホの３本バーメニューアイコン化の開閉ブロックについて</h3>
	<p><strong class="color1">■当テンプレートの開閉ブロックパーツは<a href="http://www.crytus.co.jp/">有限会社クリタス様</a>提供のプログラムを使用しています。openclose.jsファイルは改変せずにご利用下さい。<br>
	また、当社配布以外のテンプレートにプログラムのみを使う場合は<a href="http://template-party.com/free_program/openclose_license.html">こちらの規約</a>をお守り下さい。</strong></p>
	<p><strong class="color1">■「更新情報・お知らせ」の解説</strong><br>
	画面幅が480px以下（主にスマホ環境）である場合にお知らせ用ブロックを閉じた状態で表示させています。サイズを変更したい場合は、htmlの下の方にある、<br>
	<span class="color1">if (OCwindowWidth() &lt; 480) {</span><br>
	の<span class="color1">480</span>の数字を変更して下さい。<br>
	また、PCなどの大きな端末を含めて同じような開閉ブロックとして使いたい場合はこの数字を3000など大きくしておけばOKです。</p>
	<p>尚、PCなどでブラウザのサイズを変更して動作確認をする場合、更新（再読み込み）をしないと反映されませんのでご注意下さい。</p>
	</section>

	<section>
	<h3>プレビューでチェックすると警告メッセージが出る場合(一部ブラウザ対象)</h3>
	<p>javascript（jsファイル）ファイルによって出る警告ですが、WEB上では出ません。また、この警告が出ている間は効果を見る事ができないので、警告メッセージ内でクリックして解除してあげて下さい。これにより効果がちゃんと見れるようになります。</p>
	</section>

</section>

</div>
<!--/main-->

<div id="sub">

<nav>
<h2>SUB MENU</h2>
<ul class="submenu mb10">
<li><a href="recruit.html">採用情報</a></li>
<li><a href="link.html">リンク</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
</ul>
</nav>

<aside>
<h2>関連情報</h2>
<ul class="submenu">
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
</ul>
</aside>

<div class="box1">
<section>
<h2>この見出しはh2タグです</h2>
<p>このボックスは、class="box1"と指定すれば出ます。ここに画像を置く場合、PC環境だと幅198pxまで。</p>
</section>
</div>
<!--/box1-->

<section>
<h2>この見出しはh2タグです</h2>
<p>ここのスペースも使えます。ここに画像を置く場合、PC環境だと幅220pxまで。</p>
</section>

<div class="box1">
<nav>
<h2>SUB MENU</h2>
<ul class="submenu mb10">
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
</ul>
</nav>
<p>box1の中にメニューを置くとこんな感じ。</p>
</div>
<!--/box1-->

</div>
<!--/sub-->

<p id="pagetop"><a href="#">↑ PAGE TOP</a></p>

</div>
<!--/contents-->

<footer>
<small>Copyright&copy; 2015 <a href="index.html">和食</a>　All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a></span>
</footer>

</div>
<!--/container-->

<!--スマホ用メニューバー-->
<img src="images/icon_bar.png" width="20" height="16" alt="" id="menubar_hdr" class="close">
<script type="text/javascript">
if (OCwindowWidth() < 480) {
	open_close("menubar_hdr", "menubar");
}
</script>

</body>
</html>
