<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>飲食店向け 無料ホームページテンプレート tp_foods7</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="copyright" content="Template Party">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="js/openclose.js"></script>
</head>

<body>

<div id="container">

<header>
<h1>h1テキスト入力場所です。titleタグの次に重要なので念入りに考えてワードを盛り込みましょう。</h1>
<p id="logo"><a href="index.html"><img src="images/logo.png" width="45" height="140" alt="和食"></a></p>
<p id="logo-s"><a href="index.html"><img src="images/logo-s.png" width="45" height="140" alt="和食"></a></p>
</header>

<nav id="menubar">
<ul>
<li><a href="info.html">ご案内<span>INFORMATION</span></a></li>
<li><a href="menu.html">メニュー<span>MENU</span></a></li>
<li><a href="coupon.html">クーポン<span>COUPON</span></a></li>
<li><a href="contact.html">ご予約・お問合せ<span>CONTACT</span></a></li>
</ul>
</nav>

<aside id="mainimg">
<img src="images/subimg_recruit.jpg" alt="">
</aside>

<div id="contents">

<div id="main">

<section>

<h2>採用情報</h2>
<p>スタッフ募集のご案内。</p>

    <section>
    <h3 class="mb15">正社員募集</h3>
    <table class="ta1 mb15">
    <tr>
    <th>見出し</th>
    <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
    <th>見出し</th>
    <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
    <th>見出し</th>
    <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
    <th>見出し</th>
    <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
    <th>見出し</th>
    <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    </table>
    </section>

    <section>
    <h3 class="mb15">アルバイト募集</h3>
    <table class="ta1">
    <tr>
    <th>見出し</th>
    <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
    <th>見出し</th>
    <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
    <th>見出し</th>
    <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
    <th>見出し</th>
    <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
    <th>見出し</th>
    <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    </table>
    </section>

</section>

</div>
<!--/main-->

<div id="sub">

<nav>
<h2>SUB MENU</h2>
<ul class="submenu mb10">
<li><a href="recruit.html">採用情報</a></li>
<li><a href="link.html">リンク</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
</ul>
</nav>

<aside>
<h2>関連情報</h2>
<ul class="submenu">
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
<li><a href="#">関連情報リンク</a></li>
</ul>
</aside>

<div class="box1">
<section>
<h2>この見出しはh2タグです</h2>
<p>このボックスは、class="box1"と指定すれば出ます。ここに画像を置く場合、PC環境だと幅198pxまで。</p>
</section>
</div>
<!--/box1-->

<section>
<h2>この見出しはh2タグです</h2>
<p>ここのスペースも使えます。ここに画像を置く場合、PC環境だと幅220pxまで。</p>
</section>

<div class="box1">
<nav>
<h2>SUB MENU</h2>
<ul class="submenu mb10">
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
<li><a href="#">主要リンクサンプル</a></li>
</ul>
</nav>
<p>box1の中にメニューを置くとこんな感じ。</p>
</div>
<!--/box1-->

</div>
<!--/sub-->

<p id="pagetop"><a href="#">↑ PAGE TOP</a></p>

</div>
<!--/contents-->

<footer>
<small>Copyright&copy; 2015 <a href="index.html">和食</a>　All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a></span>
</footer>

</div>
<!--/container-->

<!--スマホ用メニューバー-->
<img src="images/icon_bar.png" width="20" height="16" alt="" id="menubar_hdr" class="close">
<script type="text/javascript">
if (OCwindowWidth() < 480) {
	open_close("menubar_hdr", "menubar");
}
</script>

</body>
</html>
